.vscode-dark,
.vscode-high-contrast {
    code[class*="language-"],
    pre[class*="language-"] {
        color: #c5c8c6;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier,
            monospace;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        line-height: 1.5;
        position: relative;

        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }

    /* Code blocks */
    pre[class*="language-"] {
        padding: 2.1em 1em 1em;
        overflow: auto;
        border-radius: 0.3em;
        line-height: 0;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background: #1d1f21;
    }

    /* Inline code */
    :not(pre) > code[class*="language-"] {
        padding: 0.1em;
        border-radius: 0.3em;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #7c7c7c;
    }

    .token.punctuation {
        color: #c5c8c6;
    }

    .namespace {
        opacity: 0.7;
    }

    .token.property,
    .token.keyword,
    .token.tag {
        color: #96cbfe;
    }

    .token.class-name {
        color: #ffffb6;
        text-decoration: underline;
    }

    .token.boolean,
    .token.constant {
        color: #99cc99;
    }

    .token.symbol,
    .token.deleted {
        color: #f92672;
    }

    .token.number {
        color: #ff73fd;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: #a8ff60;
    }

    .token.variable {
        color: #c6c5fe;
    }

    .token.operator {
        color: #ededed;
    }

    .token.entity {
        color: #ffffb6;
        /* text-decoration: underline; */
    }

    .token.url {
        color: #96cbfe;
    }

    .language-css .token.string,
    .style .token.string {
        color: #87c38a;
    }

    .token.atrule,
    .token.attr-value {
        color: #f9ee98;
    }

    .token.function {
        color: #dad085;
    }

    .token.regex {
        color: #e9c062;
    }

    .token.important {
        color: #fd971f;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }
}

.vscode-light {
    code[class*="language-"],
    pre[class*="language-"] {
        font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
            "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
            "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
            "Courier New", Courier, monospace;
        font-size: 14px;
        line-height: 1.375;
        direction: ltr;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
        background: #fafbf9;
        color: #4299d7;
    }
    pre[class*="language-"]::-moz-selection,
    pre[class*="language-"] ::-moz-selection,
    code[class*="language-"]::-moz-selection,
    code[class*="language-"] ::-moz-selection {
        text-shadow: none;
        background: #fafbf9;
    }
    pre[class*="language-"]::selection,
    pre[class*="language-"] ::selection,
    code[class*="language-"]::selection,
    code[class*="language-"] ::selection {
        text-shadow: none;
        background: #fafbf9;
    }
    pre[class*="language-"] {
        padding: 1em;
        margin: 0.5em 0;
        overflow: auto;
    }
    :not(pre) > code[class*="language-"] {
        padding: 0.1em;
        border-radius: 0.3em;
    }
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #bdc3b7;
    }
    .token.punctuation {
        color: #bdc3b7;
    }
    .token.namespace {
        opacity: 0.7;
    }
    .token.tag,
    .token.operator,
    .token.number {
        color: #1b6498;
    }
    .token.property,
    .token.function {
        color: #66a329;
    }
    .token.tag-id,
    .token.selector,
    .token.atrule-id {
        color: #4d8217;
    }
    code.language-javascript,
    .token.attr-name {
        color: #66a329;
    }
    code.language-css,
    code.language-scss,
    .token.boolean,
    .token.string,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .language-scss .token.string,
    .style .token.string,
    .token.attr-value,
    .token.keyword,
    .token.control,
    .token.directive,
    .token.unit,
    .token.statement,
    .token.regex,
    .token.atrule {
        color: #277fbe;
    }
    .token.placeholder,
    .token.variable {
        color: #8dcefc;
    }
    .token.deleted {
        text-decoration: line-through;
    }
    .token.inserted {
        border-bottom: 1px dotted #4d8217;
        text-decoration: none;
    }
    .token.italic {
        font-style: italic;
    }
    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.important {
        color: #66a329;
    }
    .token.entity {
        cursor: help;
    }
    pre > code.highlight {
        outline: 0.4em solid #66a329;
        outline-offset: 0.4em;
    }
    .line-numbers .line-numbers-rows {
        border-right-color: #f3f4f1;
    }
    .line-numbers-rows > span:before {
        color: #d1d6cd;
    }
    .line-highlight {
        background: rgba(77, 130, 23, 0.2);
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(70%, rgba(77, 130, 23, 0.2)),
            to(rgba(77, 130, 23, 0))
        );
        background: linear-gradient(
            to right,
            rgba(77, 130, 23, 0.2) 70%,
            rgba(77, 130, 23, 0)
        );
    }
}

.markdown-body {
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    color: var(--til-text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;

    // p,
    // blockquote,
    // ul,
    // ol,
    // dl,
    // table,
    // pre,
    .markdown-block {
        margin-top: 0;
        margin-bottom: 12px;
    }

    /* achor */
    a {
        background-color: transparent;
        color: var(--til-link-color);
        text-decoration: none;

        &:active,
        &:hover {
            outline-width: 0;
            color: var(--til-link-color);
            text-decoration: underline;
        }

        &:not([href]) {
            color: inherit;
            text-decoration: none;
        }
    }
    // code
    code,
    kbd {
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
            Courier, monospace;
        font-size: 85%;
    }

    code {
        padding: 0.2em 0.4em;
        margin: 0;
        border-radius: 3px;
        border: 1px solid var(--til-third-background-color);
        background: var(--til-secondary-background-color);
    }

    pre > code {
        word-break: normal;
        white-space: pre-wrap;
        background: transparent;
        color: inherit !important;
        padding: 16px;
        font-size: 85%;
        line-height: 1.45;
        border-radius: 3px;
        border: 1px solid var(--til-third-background-color);
        background: var(--til-secondary-background-color);
        word-wrap: normal;
        position: relative;
        display: block;
        margin-bottom: 30px !important;
    }

    pre {
        margin: 0;
        overflow: initial;
    }

    .select-container {
        position: absolute;
        right: 0;
        bottom: -28px;

        .switch {
            display: inline-block;
            color: var(--til-text-color);
            opacity: 0.5;
            letter-spacing: 0.05em;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                Helvetica, Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 12px;
            cursor: pointer;
            position: relative;
            padding: 0.3em;

            &__select {
                position: absolute;
                top: 0px;
                cursor: pointer;
                opacity: 0;
                left: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }

    strong {
        font-weight: bolder;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 24px;
        margin-bottom: 12px;
        font-weight: 600;
        line-height: 1.25;
        color: var(--til-text-color);
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    img {
        border-style: none;
        max-width: 100%;
        box-sizing: content-box;
    }

    img[align="right"] {
        padding-left: 20px;
    }

    img[align="left"] {
        padding-right: 20px;
    }

    ul,
    ol {
        padding-left: 2em;

        ol {
            list-style-type: lower-roman;
        }

        ul {
            margin-top: 0;
            margin-bottom: 0;

            ol {
                list-style-type: lower-alpha;
            }
        }

        ol {
            margin-top: 0;
            margin-bottom: 0;

            ol {
                list-style-type: lower-alpha;
            }
        }
    }

    li {
        word-wrap: break-all;

        > p {
            margin-top: 8px;

            margin-bottom: 12px;
        }
        + li {
            margin-top: 0.25em;
        }
    }

    blockquote {
        margin: 12px 0;
        border-left: 6px solid;
        padding-left: 12px;
        background: transparent;
        border-color: var(--til-secondary-background-color);
        font-style: italic;

        > :first-child {
            margin-top: 0;
        }

        > :last-child {
            margin-bottom: 0;
        }
    }

    s,
    strike,
    del {
        text-decoration: line-through;
    }

    hr {
        height: 1px;
        padding: 0;
        margin: 32px 0;
        background-color: var(--til-text-color);
        border: 0;
    }

    &::before {
        display: table;

        content: "";
    }

    &::after {
        display: table;

        clear: both;

        content: "";
    }

    > *:first-child {
        margin-top: 0 !important;
    }

    > *:last-child {
        margin-bottom: 0 !important;
    }

    .public-DraftEditorPlaceholder-root {
        color: var(--til-text-color);
        opacity: 0.4;
    }
}

img {
    top: 8px !important;
    left: 8px !important;
    height: auto !important;
}
